@page "/"

<PageTitle>My Experience</PageTitle>

<div class="page flex-column justify-content-end align-items-end flower-page">
    <div class ="intro">
        <h1>Hello!</h1>
        <h1>My Name is Jenna<span class="text-lightseagreen">.</span></h1>
        <div class="text-center mt-5">
            <p style="background-color:white;"class="p-2">...and I have <b>Autism</b>...</p>
        </div>
    </div>
</div>

<div class="page">
    <div class="experience-description visually-hidden">
    @if (DataSourceItems != null)
    {
        @foreach (var item in DataSourceItems)
        {
            <div class="card p-3 mb-3">
                <h5>@((MarkupString)item.MainTextHtml)</h5>
                <div class="mx-3">@((MarkupString)item.SubTextHtml)</div>

                @if (item.ImagePaths?.Any() ?? false)
                {
                     @foreach (var imagePath in item.ImagePaths)
                     {
                         <img src="images\@(imagePath)" style="max-height:100px"/>
                     }
                }
            </div>
        }
    }
</div>
</div>



@code {
    public List<DataSourceItem> DataSourceItems;

    protected override void OnInitialized()
    {
        DataSourceItems = DataSource.GetData();
    }
}



